<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>EZCamp - Location de Matériel</title>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    </head>
    <body>
        
        <header>
            <p class="headerP">EzCamp</p>
            <div class="user-info">
                <p>Connecté en tant que : [user]</p>
                <button class="logout-btn">Déconnexion</button>
            </div>
        </header>

        <main>
            <section class="my-list">
                <h2>Ma liste</h2>
                
                    <ul>
                        
                        <li>
                            <span class="item-name">Objet 1</span>
                            <a href=""><button class="edit-icon" onclick="editItem(1)">&#9998;</button></a>
                        </li>
                        <li>
                            <span class="item-name">Objet 2</span>
                            <a href=""><button class="edit-icon" onclick="editItem(1)">&#9998;</button></a>
                        </li>
                        <li>
                            <span class="item-name">Objet 3</span>
                            <a href=""><button class="edit-icon" onclick="editItem(1)">&#9998;</button></a>
                        </li>
                        
                    </ul>
                </section>
            </section>
        
        {% block body %}{% endblock %}

    </body>
</html>